@model IEnumerable<Restaurante.Models.Pedido>
@{
    ViewData["Title"] = "Pedidos Cozinha";
}

<h2>Pedidos</h2>


<table class="table">
    <thead>
        <tr>
            <th>Nome do Cliente</th>
            <th>Mesa do Cliente</th>
            <th>Pedidos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model) {
            <tr>
                <td>
                    @pedido.Nome
                    @pedido.Mesa
                    @pedido.Pratos
                    @pedido.QtdPratos
                    @pedido.Bebidas
                    @pedido.QtdBebidas
                    @pedido.Sobremesas
                    @pedido.QtdSobremesas

                </td>
            </tr>
        }
    </tbody>

</table>
